.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
}

/* Define border colors for valid and invalid inputs */
/* Define border colors for valid and invalid inputs */
input.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-valid {
  border: 1px solid green;
}

select.ng-invalid.ng-touched {
  border: 1px solid red;
}

select.ng-valid {
  border: 1px solid green;
}
.invalid-feedback {
  color: red;
  font-size: 14px;
}

.dialog-content {
  max-height: 400px; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* styles.css or your component's CSS file */
.buttonrow {
  display: flex;
  justify-content: space-between;
  
}

/* styles.css or your component's CSS file */
.ls {
  height: 50px; /* Set the height of the buttons */
  width: 120px; /* Set the width of the buttons */
}

.col-md-6 {
  flex: 0 0 48%; /* Adjust the width of the columns as needed */
    justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  input,
  select {
    padding: 6px;
    margin-bottom: 8px;
  }

  button {
    padding: 8px 16px;
    margin-top: 16px;
  }
}
