<div class="mat-elevation-z8">
  <div class="header">
    <h2>Employees List</h2>
    <button mat-button class="add-button ls" (click)="openAddEmployeeDialog()">
      Add Employee
    </button>
  </div>
  <div class="table-container">
    <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
      <ng-container matColumnDef="employee_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.employee_name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="employee_dateOfBirth">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Date of Birth</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.employee_dateOfBirth }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="employee_email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.employee_email }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="employee_contact_No">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Contact No</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.employee_contact_No }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="employee_address">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.employee_address }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="employee_age">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Age</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.employee_age }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="employee_Salary">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Salary</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.employee_Salary }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="employee_zipCode">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Zip Code</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.employee_zipCode }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="employee_join_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Join Date</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.employee_join_date }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="employee_hobbies">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Hobbies</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.employee_hobbies }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="gender_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Gender</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.gender_type }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="employee_shift_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Shift Type</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.employee_shift_type }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="department_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Department</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.department_name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="designation_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Designation</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.designation_name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="country_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Country</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.country_name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="state_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>State</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.state_name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="city_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.city_name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button title="Preview" (click)="preview(row)">
            <mat-icon>Preview</mat-icon>
          </button>
          <button mat-icon-button title="Edit" (click)="edit(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button title="Delete" (click)="delete(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator
      [length]="dataSource.data.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
